{% extends 'content/base.html' %}

{% block main %}
<main>

    <div class="container-fluid p-5">
        <h5><strong>Reset your password</strong></h5>
        <br />
        <p>Forgot your password?
            Enter your email address below and follow the link we'll send you.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        
    </div>

    {% block footer %}
    {% include 'content/partials/_footer.html' %}
    {% endblock %}
    
</main>
{% endblock %}